<section>
	<h3>AI Response:</h3>
	<slot />
</section>

<style>
	section {
		width: 600px;
		display: flex;
		flex-direction: column;
		text-align: center;
		place-items: center;
		gap: 1rem;
	}

	@media (width <= 1110px) {
		section {
			width: 100%;
		}
	}
</style>
