---
import Action from "@@/Action.astro"
---

<footer class:list={[Astro.self.name, Astro.props.class]}>
	<section>
		<article>
			<h3>Let's keep in touch</h3>
			<p>
				Enter your email to stay up to date with the latest updates from Astro.
			</p>
			<form>
				<Action
					as="input"
					id="Newsletter-Input"
					type="email"
					placeholder="your@email.com"
				/>
				<Action
					as="button"
					role="button"
					aria-label="Button to subscribe to newsletter"
					id="Suscribe-Button"
					type="submit">Subscribe</Action
				>
			</form>
		</article>
		<aside>
			<h4>Resources</h4>
			<ul>
				<li><a href="/docs">Docs</a></li>
				<li><a href="#">Themes</a></li>
				<li><a href="#">Showcase</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Starter templates</a></li>
			</ul>
		</aside>
		<aside>
			<h4>Ecosystem</h4>
			<ul>
				<li><a href="#">Studio</a></li>
				<li><a href="#">Community</a></li>
				<li>
					<a
						target="_blank"
						rel="noopener noreferrer nofollow"
						aria-label="Link to the GitHub repository"
						href="https://github.com/MillhioreBT/forgottenserver-downgrade/pulls"
						>Contributing</a
					>
				</li>
			</ul>
		</aside>
		<aside>
			<h4>About</h4>
			<ul>
				<li><a href="#">Press</a></li>
				<li><a href="#">Telemetry</a></li>
				<li><a href="#">Partner with us</a></li>
			</ul>
		</aside>
		<aside>
			<h4>More</h4>
			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Wallpapers</a></li>
				<li><a href="#">Swag Shop</a></li>
			</ul>
		</aside>
		<aside>
			<h4>Legal</h4>
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Service</a></li>
			</ul>
		</aside>
	</section>
	<div>
		<hr />
		<p>Example project for the Vercel 2024 Hackathon contest.</p>
		<p>Designed by <a href="https://github.com/MillhioreBT">MillhioreBT</a></p>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		color: var(--color-accent);
		border-top: 1px solid var(--color-text);
		margin-top: 5rem;
	}

	section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 12px;
		padding: 2rem;
	}

	hr {
		border: 0;
		border-top: 1px solid var(--color-text);
		width: 100%;
		margin-bottom: 1rem;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding-bottom: 2rem;
	}

	article {
		width: 400px;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	h3,
	h4 {
		color: var(--color-text);
	}

	p {
		color: var(--color-text);
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	aside {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	a {
		font-size: 0.9em;
		color: var(--color-text);
		text-decoration: none;
	}

	a:hover {
		filter: brightness(0.8);
	}

	@media (width <= 1110px) {
		section {
			flex-direction: column;
			gap: 1rem;
			text-align: center;
		}

		article {
			width: 100%;
		}

		#Suscribe-Button,
		#Newsletter-Input {
			width: 100%;
			max-width: 400px;
			min-width: 200px;
			align-self: center;
		}

		div {
			text-align: center;
		}
	}
</style>
