---
import Action from "@@/Action.astro"
import { actions } from "astro:actions"

type LoginActionErrors = {
	email?: string[] | undefined
	password?: string[] | undefined
}

interface Props {
	errors: LoginActionErrors
}

const { errors } = Astro.props
---

<form method="POST" action={actions.login}>
	<h1>Login</h1>
	{errors.email && <small>{errors.email.join(", ")}</small>}
	<Action
		as="input"
		name="email"
		type="email"
		placeholder="Email"
		autocomplete="give-email"
	/>
	{errors.password && <small>{errors.password.join(", ")}</small>}
	<Action
		as="input"
		name="password"
		type="password"
		placeholder="Password"
		autocomplete="off"
	/>
	<Action as="button" id="button-login" type="submit">Login</Action>
	<Action
		as="a"
		href="/register"
		role="button"
		aria-label="Button to go to the Register page">Register</Action
	>
</form>

<style>
	form {
		width: 400px;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
	}

	h1 {
		text-align: center;
		color: var(--color-accent);
	}

	@media (width <= 1110px) {
		form {
			width: 100%;
		}
	}
</style>
