---
import Action from "@@/Action.astro"
import { actions } from "astro:actions"

type RegisterActionErrors = {
	email?: string[] | undefined
	password?: string[] | undefined
	username?: string[] | undefined
	repeatPassword?: string[] | undefined
}

interface Props {
	errors: RegisterActionErrors
}

const { errors } = Astro.props
---

<form method="POST" action={actions.register}>
	<h1>Register</h1>
	{errors.email && <small>{errors.email.join(", ")}</small>}
	<Action
		as="input"
		name="email"
		type="email"
		placeholder="Email"
		autocomplete="give-email"
	/>
	{errors.username && <small>{errors.username.join(", ")}</small>}
	<Action
		as="input"
		name="username"
		type="text"
		placeholder="Username"
		autocomplete="off"
	/>
	{errors.password && <small>{errors.password.join(", ")}</small>}
	<Action
		as="input"
		name="password"
		type="password"
		placeholder="Password"
		autocomplete="off"
	/>
	{errors.repeatPassword && <small>{errors.repeatPassword.join(", ")}</small>}
	<Action
		as="input"
		name="repeatPassword"
		type="password"
		placeholder="Repeat Password"
		autocomplete="off"
		class="MaxWidth"
	/>
	<Action as="button" type="submit">Register</Action>
	<Action
		as="a"
		href="/login"
		role="button"
		aria-label="Button to go to the Login page">Login</Action
	>
</form>

<style>
	form {
		width: 400px;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
	}

	h1 {
		text-align: center;
		color: var(--color-accent);
	}

	small {
		text-align: center;
		color: var(--color-warning);
	}

	@media (width <= 1110px) {
		form {
			width: 100%;
		}
	}
</style>
