<article>
	<header>
		<h3>Placeholder Title</h3>
	</header>
	<section>
		<p>Placeholder content</p>
		<ul>
			<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
			<li>Rerum dolorem aperiam a.</li>
			<li>
				Modi perferendis doloribus debitis explicabo? Debitis, eius fugit.
			</li>
			<li>
				Placeat vel accusamus omnis laudantium aspernatur est, sed
				exercitationem doloribus
			</li>
		</ul>
	</section>
</article>

<style>
	article {
		display: grid;
		grid-template-areas: "header" "cards";
		padding: 1rem;
		gap: 1rem;
		place-content: center;
	}

	header {
		grid-area: header;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 1rem;
	}

	h3 {
		font-size: 2em;
		color: var(--color-accent);
	}

	section {
		grid-area: cards;
		display: grid;
		grid-template-rows: auto;
		text-align: center;
		gap: 1rem;
	}

	p {
		font-size: 1.1em;
	}

	ul {
		list-style-type: none;
	}
</style>
